      <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://images.wallpaperscraft.com/image/movie_popcorn_drink_11134_1920x1080.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3><strong>Pop Corn Day</strong></h3>
              <p> Don't forget, Room 222 ask tall dude for popcorn. Every Thursday</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://images.wallpaperscraft.com/image/game_of_thrones_emilia_clarke_daenerys_targaryen_khal_drogo_jason_momoa_jorah_mormont_hbo_96562_1680x1050.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Movie night at John Doe's apartment</h3>
              <p>Party set to take place on Tuesday the 18th at 9:00pm - 1:00am ET.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://images.wallpaperscraft.com/image/circuit_paths_chips_black_pin_26298_1400x1050.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Study group at Starbucks. on Wednesday the 21st</h3>
              <p> Anyone in the JavaEE batch is welcome to join the group. We hope to be productive and help each other learn together. </p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="p-3 mb-2 bg-warning text-dark" class="container">

      <h1 class="my-2"> <strong> More Upcoming Events: </strong> </h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="p-3 mb-2 bg-danger text-info" class="card-header"><i>MUSIC FESTIVAL</i></h4>
            <div class="card-body">
              <p class="text-info" class="card-text">CHARLOTTESVILLE CHAMBER MUSIC FESTIVAL Venue: The Paramount Theater, Old Cabell Hall, PVCC, Live Arts 
Price: $6.00 students, $18.00, $26.00
Date: 09/10/2018 and additional dates
Location: Charlottesville</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="p-3 mb-2 bg-danger text-info" class="card-header"><i>MUSEUM OF ART</i></h4>
            <div class="card-body">
              <p class="text-info" class="card-text">TOUCHING THE SACRED
Venue: William King Museum of Art
Date: 03/30/2018 - 09/16/2018
Location: Abingdon
</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-info">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="p-3 mb-2 bg-danger text-info" class="card-header"><i>ART MUSEUM</i></h4>
            <div class="card-body">
              <p class="text-info" class="card-text">MONDAY CRAFTERNOON
Venue: Art Museums of Colonial Williamsburg
Date: 09/10/2018 and 09/17/2018
Location: Williamsburg</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
          </div>
        </div>
         <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="p-3 mb-2 bg-danger text-info" class="card-header"><i>BEER GARDEN</i></h4>
            <div class="card-body">
              <p  class="text-info" class="card-text">ACOUSTIC SUNDAYS IN THE BEER GARDEN
Venue: The Virginia Beer Company
Date: 09/10/2018 and additional dates
Location: Williamsburg</p>
            </div>
            <div class="card-footer">
              <a href="#"  class="btn btn-outline-info">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="p-3 mb-2 bg-danger text-info" class="card-header"><i>MORNING YOGA</i></h4>
            <div class="card-body">
              <p  class="text-info" class="card-text">MONDAY MORNING YOGA
Venue: Crystal City Water Park
Date: 09/10/2018 and additional dates
Location: Arlington</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="p-3 mb-2 bg-danger text-info" class="card-header"><i>WOOD CARVING</i></h4>
            <div class="card-body">
              <p class="text-info" class="card-text">WOOD CARVING
Venue: Big Stone Gap Visitor Center
Date: 09/11/2018 and additional dates
Location: Big Stone Gap</p>
            </div>
            <div class="card-footer">
              <a href="#"class="btn btn-outline-info">Learn More</a>
            </div>
          </div>
        </div>




      </div>
      <!-- /.row -->