<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="home"><img src="https://s3.us-east-2.amazonaws.com/diverpix/rev_logo.png"  width="80" height="38"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar navbar-default" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li> -->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" href="create-event"> <strong>Create </strong></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="user-profile"> <strong> User Profile</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="event-list"> <strong> Events </strong></a>
      </li>
      
    </ul>
    <div style="position:relative; right:-520px; top:4px;" class="form-group m-auto">
     <app-search></app-search>
    </div>
    
    <a style="position: relative; right:-630px; top:3px;" class="nav-link btn btn-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
      aria-haspopup="false" aria-expanded="true" *ngIf="!loggedIn">Log In</a>
      <input type="button" value="Log Out" name="logout-btn" id="logout-btn" class="btn btn-dark" *ngIf="loggedIn" (click)="logout()">
      <div class="dropdown-menu" style="right:-630px; left: auto; background-color: brown" aria-labelledby="navbarDropdownMenuLink">
      <div class="form-group m-2 " (keyup.enter)="login()">
        <input type="text" name="username" id="nav-username" placeholder="Username" class="form-control" [(ngModel)]="username"><br>
        <input type="password" name="password" id="nav-password" placeholder="Password" class="form-control" [(ngModel)]="password"><br>
        <input type="button" value="Log In" name="login-btn" id="login-btn" class="btn btn-dark" (click)="login()">&nbsp;
        <input type="button" value="New Account" name="createAccount-btn" id="createAccount-btn" class="btn btn-success" (click)="createAccount()">
      </div>
    </div>
  </div>
</nav>
