<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="featured">Featured</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="create-event">Create</a>
      </li>
    </ul>
    <div class="form-group m-auto">
      <app-search></app-search>
    </div>

    <a class="nav-link btn btn-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" *ngIf="!loggedIn">Log In</a>
      <input type="button" value="Log Out" name="logout-btn" id="logout-btn" class="btn btn-dark" *ngIf="loggedIn" (click)="logout()">
      <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
      <div class="form-group m-2 " (keyup.enter)="login()">
        <input type="text" name="username" id="username" placeholder="Username" class="form-control" [(ngModel)]="username">
        <input type="password" name="password" id="password" placeholder="Password" class="form-control" [(ngModel)]="password">
        <input type="button" value="Log In" name="login-btn" id="login-btn" class="btn btn-dark" (click)="login()">
      </div>
    </div>
  </div>
</nav>
